@media only screen and (min-width: 1025px) {
    .hamburger {
        display: none;
    }

    
    main,
    nav {
        margin: 0 auto;
        max-width: 1200px;
    } 

    header {
        grid-template-columns: 24px auto;
    }

    .navigation {
        display: block;
        border-bottom: 1px solid #eee;
    }

    .navigation a {
        border: none;
    }

    .navigation ul {
        display: flex;
        list-style: none;
    }

    h1 {
        margin-left: 2%;
    }

    .skip-link {
        display: flex;
        justify-content: center;
    }

    main {
        padding: 2.5rem 2rem;
        /* margin-top: -20%; */
    }

    .grid-view {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 1rem;
    }

    .grid-view section .profile-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #spotlight-sec #members-container.grid-view {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5rem;
    }

    .profile-grid img {
        margin-top: 0.4rem;
    }

    .footer-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    /*===========================
            Home 
    =============================*/
    .home-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #spotlight-sec {
       grid-column: 1 /-1;
    }

    .weather-sec {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .hero content {
        top: 45%;
    } 

    .hero-content h2 {
        font-size: 3rem;
    }

    .hero-content p{
        font-size: 1.8rem;
    }

    .cta-btn {
        right: 3rem;
        bottom: 2rem;
    }

    /* ===================================
        Join Page - Desktop
    ======================================*/
    .join-layout.now {
        display: grid;
        grid-template-columns: 3fr 2fr ;
        align-items: flex-start;
    }
    
    .membership-cards {
        position: sticky;
        top: 80px;
    }

    .thankyou-action {
        flex-direction: row;
        justify-content: center;
    }

    /* Discover */
    #discover-grid{
        display: grid;
        column-gap: 1rem;
        
        grid-template-areas: 
            "card1 card2"
            "card3 card4"
            "card5 card6"
            "card7 card8";
    }

}
