/* pad (2 columns) */
@media (min-width: 620px) {
    .grid-view {
        grid-template-columns: repeat(2, 1fr);
        
        margin-top: 0.5rem;

    }

    .grid-view section .profile-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .list-view {
        grid-template-columns: 1fr;
    }

    .weather-sec {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* Hero */
    .hero-content h2 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1.1rem;
    }
}