@media only screen and (min-width: 900px) {
    .hamburger {
        display: none;
    }

    
    main,
    nav {
        margin: 0 auto;
        max-width: 1200px;
    } 

    header {
        grid-template-columns: 24px auto;
    }

    .navigation {
        display: block;
        border-bottom: 1px solid #eee;
    }

    .navigation a {
        border: none;
    }

    .navigation ul {
        display: flex;
        list-style: none;
    }

    h1 {
        margin-left: 2%;
    }

    .skip-link {
        display: flex;
        justify-content: center;
    }

    main {
        padding: 2.5rem 2rem;
    }

    .grid-view {
        grid-template-columns: repeat(3, 1fr);
    }

    .profile-grid img {
        margin-top: 0.4rem;
    }

    .footer-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    /*===========================
            Home 
    =============================*/
    .home-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #spotlight-sec {
       grid-column: 1 /-1;
    }

    .weather-sec {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .hero content {
        top: 45%;
    } 

    .hero-content h2 {
        font-size: 3rem;
    }

    .hero-content p{
        font-size: 1.8rem;
    }

    .cta-btn {
        right: 3rem;
        bottom: 2rem;
    }
}
